In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
#create a dataframe
df = pd.read_csv('Sales(1).csv')
print(df)

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
6          250.0
7         -420.0

In [13]:
import pandas as pd
df=pd.read_csv('Sales(1).csv')
df.head()

,Order ID,Customer Name,Order Date,Product,Quantity,Unit Price,Total Revenue
0,1001,John Doe,01/01/2024,Widget A,10.0,25.0,250.0
1,1002,Jane Smith,01/02/2024,Widget B,5.0,40.0,200.0
2,1003,NaN,2024/01/03',Widget A,NaN,25.0,NaN
3,1004,Alice Johnson,04/01/2024,Widget C,3.0,NaN,210.0
4,1005,Bob Brown,2024/01/05',Widget B,10.0,40.0,400.0

In [11]:
import pandas as pd
print(pd.options.display.max_rows)

60

In [14]:
import pandas as pd
df=pd.read_csv('Sales(1).csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     8 non-null      object
 3   Product        8 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 580.0+ bytes

In [15]:
import pandas as pd
df=pd.read_csv('Sales(1).csv')
# The correct function is to_string (all lowercase, with an underscore)
print(df.to_string())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [16]:
import pandas
df = pd.read_csv('Sales(1).csv')
print(df.describe())

          Order ID   Quantity  Unit Price  Total Revenue
count     8.000000   7.000000    7.000000       7.000000
mean   1003.625000   5.142857   35.714286     141.428571
std       2.263846   5.785861   16.690459     263.149423
min    1001.000000  -6.000000   25.000000    -420.000000
25%    1001.750000   3.500000   25.000000     150.000000
50%    1003.500000   5.000000   25.000000     210.000000
75%    1005.250000  10.000000   40.000000     250.000000
max    1007.000000  10.000000   70.000000     400.000000

In [17]:
import pandas as pd

df = pd.read_csv('Sales(1).csv')

new_df = df.dropna()

print(new_df.to_string())

   Order ID Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001      John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002    Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
4      1005     Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006      John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001      John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007    Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [18]:
import pandas as pd
df=pd.read_csv('Sales(1).csv')
df.dropna(inplace=True)
print(df.to_string())

   Order ID Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001      John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002    Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
4      1005     Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006      John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001      John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007    Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [19]:
import pandas as pd
df=pd.read_csv('Sales(1).csv')
df['Order Date']=pd.to_datetime(df['Order Date'],format='mixed')
print(df.to_string())

   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe 2024-01-01  Widget A      10.0        25.0          250.0
1      1002     Jane Smith 2024-01-02  Widget B       5.0        40.0          200.0
2      1003            NaN 2024-01-03  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson 2024-04-01  Widget C       3.0         NaN          210.0
4      1005      Bob Brown 2024-01-05  Widget B      10.0        40.0          400.0
5      1006       John Doe 2024-06-01  Widget A       4.0        25.0          100.0
6      1001       John Doe 2024-01-01  Widget A      10.0        25.0          250.0
7      1007     Jane Smith 2024-07-01  Widget C      -6.0        70.0         -420.0

In [22]:
import pandas as pd
df = pd.read_csv('Sales(1).csv')
print(df.to_string())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [23]:
import pandas as pd
df=pd.read_csv('Sales(1).csv')
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [26]:
import pandas  as pd
df=pd.read_csv('Sales(1).csv')
df.drop_duplicates(inplace=True)    
print(df.to_string())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [27]:
df = df.dropna()
print(df.to_string)

<bound method DataFrame.to_string of    Order ID Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe   01/01/2024  Widget A      10.0        25.0
1      1002    Jane Smith   01/02/2024  Widget B       5.0        40.0
4      1005     Bob Brown  2024/01/05'  Widget B      10.0        40.0
5      1006      John Doe   06/01/2024  Widget A       4.0        25.0
7      1007    Jane Smith   07/01/2024  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
4          400.0
5          100.0
7         -420.0  >