In [1]:
import pandas as pd

series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

print("Series 1:\n", series1)
print("Series 2:\n", series2)

print("\nElement-wise comparison:")
print("Equal:\n", series1 == series2)
print("Greater:\n", series1 > series2)
print("Less:\n", series1 < series2)

Series 1:
 0      4
1     65
2    436
3      3
4      9
dtype: int64
Series 2:
 0      7
1      0
2      3
3    897
4      9
dtype: int64

Element-wise comparison:
Equal:
 0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater:
 0    False
1     True
2     True
3    False
4    False
dtype: bool
Less:
 0     True
1    False
2    False
3     True
4    False
dtype: bool

In [2]:
add_result = series1 + series2
sub_result = series1 - series2
mul_result = series1 * series2
div_result = series1 / series2

print("Addition:\n", add_result)
print("\nSubtraction:\n", sub_result)
print("\nMultiplication:\n", mul_result)
print("\nDivision:\n", div_result)

Addition:
 0     11
1     65
2    439
3    900
4     18
dtype: int64

Subtraction:
 0     -3
1     65
2    433
3   -894
4      0
dtype: int64

Multiplication:
 0      28
1       0
2    1308
3    2691
4      81
dtype: int64

Division:
 0      0.571429
1           inf
2    145.333333
3      0.003344
4      1.000000
dtype: float64

In [3]:
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
series_from_dict = pd.Series(dictionary1)
print(series_from_dict)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [4]:
sample_series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
array_from_series = sample_series.values
print(array_from_series)

['Love' 800 'Joy' 789.9 'Peace' True]